body {
  margin: 0px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif;
}

#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

p.popup-title {
  font-size: 15px;
  font-weight: 700;
}

.popup-title-centered {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

p.popup-text {
  font-size: 13px;
  font-weight: 400;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.leaflet-control-zoom {
  border-bottom: 1px solid #ccc;
}

.info {
  padding: 6px 8px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.star {
  font-size: 15px;
  font-weight: 800;
}

.tooltip-style,
.leaflet-tooltip,
.tooltip-text {
  font-size: 9px;
  font-weight: 400;
  text-align: center;
  padding: 1px !important;
  margin: 1px !important;
  line-height: 12px;
  border-width: 0px;
}

.tooltip-text-hidden {
  font-size: 8px;
  font-weight: 400;
  text-align: center;
  padding: 1px !important;
  margin: 1px !important;
  line-height: 12px;
  border-width: 0px;
  visibility: hidden;
}

#input-container {
  position: absolute;
  top: 22px;
  left: 80px;
  z-index: 9999;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid black;
}
